:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
  margin-bottom: 50px;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
  margin-top: 10px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--secondary-color);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  border: var(--border);
}

a {
  transition: all 200ms ease;
}
a:hover {
  opacity: 0.7;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
  background-color: white;
}

@media (max-width: 768px) {
h1 {
    font-size: 48px;
    line-height: 1.5;
  }
}
@media (max-width: 768px){
h2 {
    font-size: 32px;
  }
}
@media (max-width: 576px){
h2 {
    text-align: center;
  }
}
@media (max-width: 768px){
p {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
p {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .project-link {
    display: block;
    text-align: center;
  }
}